/* Initial Settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Page title */
.page-title {
    text-align: center;
    margin: 3em;
    box-sizing: border-box;
}

/* Section */

.container {
    display: row;
    position: relative;
    margin: 1em;
}

.column {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    width: 33.33%;
    height: 150px;
    padding: 0.5em;
    padding-top:2.5em;
    margin: 0.3em;
    background-color: rgb(172, 164, 164);
    border: black;
    border-style:solid;
}

.col-title {
    position:absolute;
    top:0;
    right:0;
    width: 200px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}


h2 {
    text-align: center;
}
.chicken {
    background-color: palevioletred;
}

.beef {
    background-color: rgb(191, 89, 89);
    color: white;
}
.sushi {
    background-color: rgb(235, 224, 163);
}

p {
    overflow:scroll;
}

/* Media Queries  Large screens */

@media (min-width:992px){
    .col-lg {
        width: 27%;
        height: max-content;
    }
}

/* Media Queries  Medium screens */

@media (min-width:768px) AND (max-width:991px) {  
    .meat-section {
        width: 45%;
        height:fit-content;
        margin-right: auto;
        margin-left: auto;
    }
    .fish-section {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Media Queries  Small screens */

@media (max-width:767px) {
    .col-sm {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        
    }
}